:root {
  
  --primary-accent-color: #072AC8;
  --secondary-accent-color: #000814;
  --primary-background-color: #F5F5F5;
  --seoncdary-background-color: #E2E2E2;
  --primary-text-color: #090909;
  --settings-saved: #1C8B29;

  --highlited: rgba(226, 226, 226, 0.8);
  --border-bottom: rgba(0, 0, 0, 0.2);

  font-family: 'Aspekta', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

