:root {
  
  --primary-accent-color: #072AC8;
  --secondary-accent-color: #000814;

  --primary-background-color: #F5F5F5;
  --seoncdary-background-color: #E2E2E2;

  --primary-text-color: #090909;

  font-family: 'Aspekta', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

